.macroDiv{
    background: #f27059;
}
.MuiPaper-root {
    background-color: rgba(247, 178, 103, .6) !important;
}
/* Button {
background: white !important;
}  */
/* MuiButton-root MuiButton-outlined MuiButton-colorInherit */
/* MuiPaper-elevation1 makeStyles-paper-2 MuiPaper-rounded */
