.navStyle{
    background: linear-gradient(to right, #f27059, #f27059) !important;

    button {
        font-family: 'Roboto', sans-serif;
        text-transform: none;
        font-size: 1rem;
        height: 62px;
        width: 100px;

        &:hover {
            background: #f79d65;
        }
    }
}

  