.headerDashboard {
margin-top: 65px;
height: 50px;
text-align: center;
color: white;
text-shadow: 1px 1px 1px black;
}
.box {
    height: 330px;
    width: 450px;
    border: 2px solid black;
    text-align: center;
    background-color: #5c5c5c;
    color: white;
    box-shadow: 5px 5px 5px black;
    text-shadow: 1px 1px 1px black;
}
h3 {
    margin-top: 50px;
    padding-bottom: 3px;
    text-decoration: underline #f79d65;
}
.mainBox {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 50px;
    border: 2px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 1020px;
    background-image: linear-gradient(#FCE3C7, #f7b267, #f27059);
    box-shadow: 2px 2px 2px black;
}
.goalsInput {
    height: 30px;
    font-size: 22px;
    text-align: center;
}
.containerDashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5c5c5c;
}
.pieChart {
    background-color: #f4845f;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.display-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottomDashboard {
    height: 300px;
    background-color: #5c5c5c;
}
.bottom {
    height: 100px;
    background-color: #f4845f;
}
.flex-row {
    display: flex;
    justify-content: space-around;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.meals {
    height: 200px;
    width: 80%;
    min-width: 1020px;
    background-image: linear-gradient(#FCE3C7, #f7b267, #f27059);
    margin-top: 50px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    
}
.mealsH2 {
    color: white;
    background-color: #5c5c5c;
    border: 2px solid black;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 1px black;
}
.secondBox {
    background-color: #5c5c5c;
    display: flex;
    border: solid black 2px;
    box-shadow: 2px 2px 2px black;
    padding-left: 20px;
    padding-right: 20px;
}
.mealsInput {
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    background-color: #f27059;
    border: solid black 2px;
    border-radius: 20px;
    height: 30px;
    text-shadow: 1px 1px 1px black;
}
.mealsInput:hover {
    background-color: #f7b267;
}
.h2one {
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-right: 20px;
}
.inputs {
    display: flex;
    justify-content: center;
    align-items: center;

}
.macroBoxes {
    height: 100px;
    width: 100px;
    background-color: #f27059;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
}
.macroBoxesContainer {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .mainBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 550px;
    }
    .box {
        margin-top: 25px;
    }
    .meals {
        width: 600px;
        min-width: 600px;
    }
  }