body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  height: 100vh;
  margin: 50px;
  background: #09d3ac;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.MuiAppBar-colorPrimary{
  background: black;
}
.fill-image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.fill-content {
  
  height: 100vh;
}
.signUp_loginIn{
  margin: 50px auto;
  border: 1px solid black;
  height: 400px;

}
.form{
  /* display: flex;
  flex-direction: column; */
    margin: 0px auto;
    width: 100%;

}
.MuiSelect-select{
  width: 40px
}
.ade{
  margin: 0 auto;
}

